*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, rgba(200, 8,207, 0.75),
   rgba(28, 70, 184, 0.8)), url(../imgs/work1.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

/* navigation section ------------------- */
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 35px 5%;
}
nav .logo{
  font-size: 30px;
  font-weight: 700;
}
nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  padding: 8px 15px;
  border-radius: 10px;
  transition: 0.2s ease-in;
}
nav ul li a{
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
nav .navLinks button{
  padding: 2px 20px;
  border-radius: 10px;
  color: blue;
  font-size: 16px;
  border-style: none;
  font-weight: 700;
  margin-left: 10px;
}
nav ul li:hover{
  background-color: rgb(44, 1, 197);
}
nav .menuBtn{
  color: white;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}
 
/* slide menu  -------------- */

.sideNav{
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  background-color: rgba(22, 2, 93, 0.6);
  /* background-color: rgb(44, 1, 197); */
  overflow-x: hidden;
  transition: 0.3s ease-in;
  padding-top: 60px;
  display: none;
  width: 200px;
}
 
.sideNav a{
  padding: 15px 30px;
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  color: #d1d1d1;
  transition: 0.3s;
  text-decoration: none;
}

.sideNav a:hover{
  color: white;
  /* background-color: blue; */
  background-color: rgb(44, 1, 197);
}
.closeBtn{
  position: absolute;
  top: 10px;

}

.closeBtn i{
  font-size: 1.4em;
}

/* main section --------------------- */
 
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 5%;
}
.row .column1 {
  padding-right: 50px;
}
.column1 h1 {
  font-size: 60px;
  margin-bottom: 10px;
}
.column1 p {
  font-size: 25px;
  margin-bottom: 20px;
}
.column1 button {
  cursor: pointer;
  width: 170px;
  padding: 12px 20px;
  border-radius: 20px;
  border-style: none;
  color: blue;
  font-size: 17px;
  font-weight: 600;
}

/* Section events */
.events-title{
  background: rgba(9,9,9,0.2);
  padding: 10px;
}

.events-title p{
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}


.some-events{
  margin: 10px;
  height: 200px;
  display: flex;
}

#event2, #event3{
  margin-left: 10px;
}

#event1{
  background:url(../imgs/party2.png) no-repeat;
}

#event2{
  background:url(../imgs/party3.png) no-repeat;
}

#event3{
  background:url(../imgs/party4.png) no-repeat;
}

#event1, #event2, #event3{
  background-size:contain;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  border-color:#d1d1d1;
  border-style: solid;
  border-width: 1px;

}

/* Responsive section ------------------ */

/* responsive navbar css */
@media screen and (max-width: 600px) {
  nav .menuBtn{
    display: flex;
    color:white;
  }
  nav .navLinks{
    display: none;
  }
  .sideNav {
    display: block !important;
  }

  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
 
  }
  .row .column1 {
    padding: 30px;
  }

  .some-events{
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }

  #event1, #event2, #event3{
    background-size: contain;
    width: 100%;
    height:200px;
    margin-bottom: 10px;
  } 

  #event2, #event3{
    margin-left: 0px;
  }

  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
  .row .column1 {
    padding: 30px;
  }
}

/* Header content responsive */
@media screen and (max-width: 980px) {
  .column2 img {
    width: 350px;
  }
  .column1 h1 {
    font-size: 40px;
  }
  .column1 p{
    font-size: 17px;
  }

}
 